@model IEnumerable<SBSClientServerManager.Models.ViewModels.ClientViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
        @*<script src="~/Scripts/bootstrap.min.js"></script>*@
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css"/>

        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>


        <script type="text/javascript">

            $(document).ready(function () {

                $('#clientTable').DataTable({

                    "ajax": {
                        "url": '/Client/GetClientList',
                        "type": 'GET',
                        "datatype": "json"
                    },



                    "columns": [
                        { "data": "Name", "name": "Name", "autoWidth": true },
                        {
                            "data": "Delete", "name":"Delete" , "autoWidth": true ,
                            "render": function (data, type, full, meta) {
                                return "<button type='button' onclick=Delete('" + full.Id + "') class='btn btn-sm btn-danger' data-toggle='modal' data-target='#DeleteClientModal'>Delete</button>";
                                
                            }


                        }, 
                         {
                            "data": "Edit", "name":"Edit" , "autoWidth": true ,
                            "render": function (data, type, full, meta) {
                                return "<button type='button' onclick=viewEditClient('" + full.Id + "') class='btn btn-sm btn-warning' data-toggle='modal' data-target='#EditClientModal'>Edit</button>";
                                
                            }


                        }, 
                         {
                            "data": "Details", "name":"Details" , "autoWidth": true ,
                            "render": function (data, type, full, meta) {
                                return "<button onclick=window.location.href='/client/details?Id="+full.Id+"' class='btn btn-sm btn-info'>Details</button>";
                            }


                        }, 
                       
                       

                    ]
                        

                });
            })
                           
              

                   
            

            function viewAddClient() {
                var url = "/client/add";

                $("#AddClientModalBody").load(url, function () {


                })
            }

            function viewEditClient(clientId) {
                var url = "/client/edit?id=" + clientId;

                $("#EditClientModalBody").load(url, function () {


                })
            }

                function Delete(clientId) {

                    $("#ConfirmDelete").click(function () {
                        $.ajax('/client/delete?id=', {
                            type: 'POST',
                            data: { id: clientId },
                            success: function () {
                                window.location.href = "/client/index";

                            }
                        }
                        )
                    })
                }
       




    </script>
    </head>




<h2>Client List</h2>
@if (!Model.Any())
{

    <h3>Oops, No Client Yet.</h3>
    <button type="button" class="btn btn-primary" onclick="viewAddClient()" data-toggle="modal" data-target="#AddClientModal">
        Add New Client
    </button>
    <div class="modal fade" id="AddClientModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">New Client</h3>

                </div>
                <div class="modal-body" id="AddClientModalBody">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <!--Add Client Modal-->
    <div class="modal fade" id="AddClientModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">New Client</h3>

                </div>
                <div class="modal-body" id="AddClientModalBody">

                </div>

            </div>
        </div>
    </div>

    <!--Edit client Modal-->
    <div class="modal fade" id="EditClientModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Edit Client Details</h3>

                </div>
                <div class="modal-body" id="EditClientModalBody">

                </div>

            </div>
        </div>
    </div>
    <!--Delete Client Modal-->
    <div class="modal fade" id="DeleteClientModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Client</h5>

                </div>
                <div class="modal-body" id="DeleteClientModalBody">
                    <h4>Are you sure you want to Delete this Client form Database?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-danger" id="ConfirmDelete">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>

            </div>
        </div>
    </div>


    <button type="button" onclick="viewAddClient()" class="btn btn-primary" data-toggle="modal" data-target="#AddClientModal">
        Add New Client
    </button>

    <table id="clientTable" class="table table-hover table-bordered ">
        <thead>

            <tr class="btn-primary">
                
                <th>Client Name</th>
                <th>Delete</th> 
                <th>Edit</th>
                <th>Details</th>
            </tr>
            </thead>
        <tbody class="clientTableBody" >
            @*@{ int num = 1;}
            @foreach (var client in Model)
            {
                <tr>
                    <th>@num</th>
                    <td><a href="/Client/Details?Id=@client.Id">@client.Name</a> </td>
                    <td>
                        <div>
                            <button onclick="window.location.href='/client/details?Id=@client.Id'" class="btn btn-info">Details</button>
                           
                            </div>

                    </td>
                </tr>
                num++;
            }*@
        </tbody>
    </table>

}

