@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SBS Client Server Manager</h1>
    <p class="lead">Add Clients, Add Server, Vpn and Sql Server in the Client Details Page</p>
    <p><a href="~/Client/Index" class="btn btn-primary btn-lg">Client List &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           You can Edit Client Name in the Client List Page and also Edit each Server/Vpn/Sql Server Details in a particluar Client Details Page
        </p>
        
    </div>
            
    <div class="col-md-4">
        <h2>Why</h2>
        <p>This web app is a Sample Training Website built by Praise Adegbite during his Industrial Training.</p>
    </div>
</div>